---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Suppliers($tag_filter: ContentfulMetadataTagsFilter)
        {\n  energySupplierCollection(order: rank_ASC, where: {contentfulMetadata:
        {tags: $tag_filter}}) {\n    total\n    items {\n      name\n      whitelabelSupplier
        {\n        name\n      }\n      slug\n      rank\n      complaintsRating\n      complaintsNumber\n      contactEmail\n      contactRating\n      contactSocialMedia\n      contactTime\n      guaranteeRating\n      overallRating\n      dataAvailable\n      guaranteeList
        {\n        json\n      }\n      contactInfo {\n        json\n      }\n      otherContactInfo
        {\n        json\n      }\n      billingInfo {\n        json\n      }\n      fuelMix
        {\n        json\n      }\n      openingHours {\n        json\n      }\n      contentfulMetadata
        {\n        tags {\n          id\n        }\n      }\n    }\n  }\n}","operationName":"Queries__Suppliers","variables":{"tag_filter":{"id_contains_some":"test"},"top_three_ranks":[901,902,903]},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"14170936612202832541-gzip"'
      X-Contentful-Graphql-Query-Cost:
      - '300'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      Contentful-Upstream:
      - graph-api
      X-Contentful-Request-Id:
      - a89d1126-f7fd-4530-90fd-299e78f0fbf1
    body:
      encoding: UTF-8
      string: '{"data":{"energySupplierCollection":{"total":10,"items":[{"name":"Another
        energy supplier","slug":"another-energy-supplier","rank":901,"complaintsRating":3,"complaintsNumber":52,"contactEmail":80,"contactRating":3.8,"contactSocialMedia":"23","contactTime":"08:00","guaranteeRating":3,"overallRating":4.7,"dataAvailable":true,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Vulnerability
        Guarantee\nAnother guarantee","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"some
        contact details\nsome more","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"otherContactInfo":null,"billingInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"some
        billing info\nsome more","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"fuelMix":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"green:
        100%\n","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"}],"nodeType":"unordered-list"},{"data":{},"content":[{"data":{},"marks":[],"value":"","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"openingHours":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"some
        opening hours\nsome more","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"whitelabelSupplier":{"name":"Big
        Energy Inc"},"contentfulMetadata":{"tags":[{"id":"test"}]}},{"name":"Big Energy
        Inc","whitelabelSupplier":null,"slug":"big-energy-inc","rank":902,"complaintsRating":3,"complaintsNumber":21.8,"contactEmail":51.4,"contactRating":3.2,"contactSocialMedia":"00:01:48","contactTime":"00:02:45","guaranteeRating":5,"overallRating":3.9,"dataAvailable":true,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee, Vulnerability Commitment","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Telephone:
        0808 164 1088\nEmail: hello@octopus.energy\nWebsite: octopus.energy\nWeb Chat:
        No\nRing backs: No\nMobile hotline: No\nMinicom / Text: No","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"otherContactInfo":null,"billingInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Direct
        debit: Yes,\nCash or cheque: Yes,\nPrepayment: Yes,","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"fuelMix":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Fossil
        fuel: 0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Nuclear:
        0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Renewable:
        100%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Other:
        0%[...]
