---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Suppliers($tag_filter: ContentfulMetadataTagsFilter)
        {\n  energySupplierCollection(order: rank_ASC, where: {contentfulMetadata:
        {tags: $tag_filter}}) {\n    total\n    items {\n      name\n      whitelabelSupplier
        {\n        name\n      }\n      slug\n      rank\n      complaintsRating\n      complaintsNumber\n      contactEmail\n      contactRating\n      contactSocialMedia\n      contactTime\n      guaranteeRating\n      overallRating\n      dataAvailable\n      guaranteeList
        {\n        json\n      }\n      contactInfo {\n        json\n      }\n      otherContactInfo
        {\n        json\n      }\n      billingInfo {\n        json\n      }\n      fuelMix
        {\n        json\n      }\n      openingHours {\n        json\n      }\n      contentfulMetadata
        {\n        tags {\n          id\n        }\n      }\n    }\n  }\n}","operationName":"Queries__Suppliers","variables":{"tag_filter":{"id_contains_none":"test"},"top_three_ranks":[1,2,3]},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7851414132644612690-gzip"'
      X-Contentful-Graphql-Query-Cost:
      - '300'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      Contentful-Upstream:
      - graph-api
      X-Contentful-Request-Id:
      - 6c0defb1-2bfe-4d4b-841a-ec4a95b6becb
    body:
      encoding: UTF-8
      string: '{"data":{"energySupplierCollection":{"total":40,"items":[{"name":"Outfox
        The Market","whitelabelSupplier":null,"slug":"outfox-the-market","rank":1,"complaintsRating":null,"complaintsNumber":null,"contactEmail":null,"contactRating":null,"contactSocialMedia":null,"contactTime":null,"guaranteeRating":null,"overallRating":2.5,"dataAvailable":true,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee, Vulnerability Commitment","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Telephone:
        0800 103 2702,\nEmail: hello@outfoxthemarket.co.uk,\nWebsite: www.outfoxthemarket.co.uk,\nWeb
        Chat: Yes,\nRing backs: No,\nMobile hotline: No,\nMinicom / Text: No,","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"otherContactInfo":null,"billingInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Direct
        debit: Yes,\nCash or cheque: No,\nPrepayment: No,","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"fuelMix":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Fossil
        fuel: 0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Nuclear:
        0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Renewable:
        100%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Other:
        0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"}],"nodeType":"unordered-list"},{"data":{},"content":[{"data":{},"marks":[],"value":"","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"openingHours":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Monday:
        8.30am - 5pm,\nTuesday: 8.30am - 5pm,\nWednesday: 8.30am - 5pm,\nThursday:
        8.30am - 5pm, \nFriday: 8.30am - 5pm,\nSaturday: 9am - 2pm \nSunday: Closed,","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contentfulMetadata":{"tags":[]}},{"name":"Shell
        Energy","whitelabelSupplier":null,"slug":"shell-energy","rank":2,"complaintsRating":null,"complaintsNumber":null,"contactEmail":null,"contactRating":null,"contactSocialMedia":null,"contactTime":null,"guaranteeRating":null,"overallRating":2.5,"dataAvailable":true,"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee, Vulnerability Commitment","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"d[...]
