---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Suppliers($tag_filter: ContentfulMetadataTagsFilter)
        {\n  energySupplierCollection(order: rank_ASC, where: {contentfulMetadata:
        {tags: $tag_filter}}) {\n    total\n    items {\n      name\n      slug\n      rank\n      previousRank\n      complaintsRating\n      overallRating\n      dataAvailable\n    }\n  }\n}","operationName":"Queries__Suppliers","variables":{"tag_filter":{"id_contains_some":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8077852677779840792"'
      X-Contentful-Graphql-Query-Cost:
      - '100'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      Contentful-Upstream:
      - graph-api
      X-Contentful-Request-Id:
      - ef5a321b-cdb2-4e24-8ace-8b787ebecc9c
    body:
      encoding: UTF-8
      string: '{"data":{"energySupplierCollection":{"total":6,"items":[{"name":"Another
        energy supplier","slug":"another-energy-supplier","rank":1,"previousRank":2,"complaintsRating":4,"overallRating":3,"dataAvailable":true},{"name":"Big
        Energy Inc","slug":"big-energy-inc","rank":2,"previousRank":3,"complaintsRating":3,"overallRating":3.65,"dataAvailable":true},{"name":"Medium
        Energy Inc","slug":"medium-energy-inc","rank":3,"previousRank":1,"complaintsRating":3,"overallRating":3.65,"dataAvailable":true},{"name":"Magic
        Earring Kenergy","slug":"magic-earring-kenergy","rank":null,"previousRank":null,"complaintsRating":null,"overallRating":null,"dataAvailable":false},{"name":"Kenergy
        Inc","slug":"kenergy-inc","rank":null,"previousRank":null,"complaintsRating":null,"overallRating":null,"dataAvailable":false},{"name":"Beach
        Kenergy","slug":"beach-kenergy","rank":null,"previousRank":null,"complaintsRating":null,"overallRating":null,"dataAvailable":false}]}}}'
  recorded_at: Thu, 17 Aug 2023 13:25:52 GMT
recorded_with: VCR 6.2.0
