---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Suppliers($tag_filter: ContentfulMetadataTagsFilter)
        {\n  energySupplierCollection(order: rank_ASC, where: {contentfulMetadata:
        {tags: $tag_filter}}) {\n    total\n    items {\n      name\n      whitelabelSupplier
        {\n        name\n      }\n      slug\n      rank\n      previousRank\n      complaintsRating\n      complaintsNumber\n      contactEmail\n      contactRating\n      contactTime\n      billsRating\n      billsAccuracy\n      overallRating\n      dataAvailable\n      contactInfo
        {\n        json\n      }\n      billingInfo {\n        json\n      }\n      fuelMix
        {\n        json\n      }\n      openingHours {\n        json\n      }\n      contentfulMetadata
        {\n        tags {\n          id\n        }\n      }\n    }\n  }\n}","operationName":"Queries__Suppliers","variables":{"tag_filter":{"id_contains_none":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1099391997354452049-gzip"'
      X-Contentful-Graphql-Query-Cost:
      - '300'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      Contentful-Upstream:
      - graph-api
      X-Contentful-Request-Id:
      - ffd2365f-206b-4873-a5b8-38b99a3ffc6d
    body:
      encoding: UTF-8
      string: '{"data":{"energySupplierCollection":{"total":40,"items":[{"name":"London
        Power","slug":"london-power","rank":null,"previousRank":null,"complaintsRating":null,"complaintsNumber":null,"contactEmail":null,"contactRating":null,"contactTime":null,"billsRating":null,"billsAccuracy":null,"overallRating":null,"dataAvailable":false,"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Telephone:
        0808 168 8145, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Email:
        hello@mylondonpower.com, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Website:
        www.mylondonpower.com, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Web
        Chat: No, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Ring
        backs: Yes, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Mobile
        hotline: No, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Minicom
        / Text: No,","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"billingInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Direct
        debit: Yes, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Cash
        or cheque: Yes, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Prepayment:
        Yes,","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"fuelMix":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Fossil
        fuel: 0%, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Nuclear:
        0%, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Renewable:
        100%, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Other:
        0%,","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"openingHours":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Monday:
        9am - 5pm, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Tuesday:
        9am - 5pm, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Wednesday:
        9am - 5pm, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Thursday:
        9am - 5pm, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Friday:
        9am - 5pm, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Saturday:
        Closed, ","nodeType":"text"}],"nodeType":"paragraph"},{"data":{},"content":[{"data":{},"marks":[],"value":"Sunday:
        Closed,","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contentfulMetadata":{"tags":[]},"whitelabelSupplier":{"name":"Octopus
        Energy"}},{"name":"Utilita","whitelabelSupplier":null,"slug":"utilita","rank":null,"previousRank":null,"complaintsRating":null,"complaintsNumber":null,"contactEmail":null,"contactRating":null,"contactTime":null,"billsRating":null,"billsAccuracy":null,"overallRating":null,"dataAvailable":true,"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Telephone:
        03303 337 442, ","nodeType":"text"}],"nodeType":"paragraph"},{"dat[...]
