---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Suppliers($tag_filter: ContentfulMetadataTagsFilter)
        {\n  energySupplierCollection(order: rank_ASC, where: {contentfulMetadata:
        {tags: $tag_filter}}) {\n    total\n    items {\n      name\n      whitelabelSupplier
        {\n        name\n      }\n      slug\n      rank\n      complaintsRating\n      complaintsNumber\n      contactEmail\n      contactRating\n      contactSocialMedia\n      contactTime\n      guaranteeRating\n      overallRating\n      dataAvailable\n      guaranteeList
        {\n        json\n      }\n      contactInfo {\n        json\n      }\n      otherContactInfo
        {\n        json\n      }\n      billingInfo {\n        json\n      }\n      fuelMix
        {\n        json\n      }\n      openingHours {\n        json\n      }\n      contentfulMetadata
        {\n        tags {\n          id\n        }\n      }\n    }\n  }\n}","operationName":"Queries__Suppliers","variables":{"top_three_ranks":[901,902,903],"tag_filter":{"id_contains_some":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Graphql-Query-Cost:
      - '300'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      Etag:
      - '"11573663647471365773-gzip"'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      Contentful-Upstream:
      - graph-api
      X-Contentful-Request-Id:
      - a334c230-99e7-467a-83f7-65c7bdf097e1
    body:
      encoding: UTF-8
      string: '{"data":{"energySupplierCollection":{"total":10,"items":[{"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Vulnerability
        Guarantee","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"some
        contact details\n","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"otherContactInfo":{"json":{"nodeType":"document","data":{},"content":[{"nodeType":"paragraph","data":{},"content":[{"nodeType":"text","value":"some
        other contact info","marks":[],"data":{}}]}]}},"billingInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"some
        billing info\nsome more","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"fuelMix":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"green:
        100%\n","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"}],"nodeType":"unordered-list"},{"data":{},"content":[{"data":{},"marks":[],"value":"","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"openingHours":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"some
        opening hours\nsome more","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"name":"Another
        energy supplier","slug":"another-energy-supplier","rank":901,"complaintsRating":3,"complaintsNumber":53,"contactEmail":80,"contactRating":3.8,"contactSocialMedia":"3:23:00","contactTime":"08:25","guaranteeRating":3,"overallRating":4.8,"dataAvailable":true,"whitelabelSupplier":{"name":"Big
        Energy Inc"},"contentfulMetadata":{"tags":[{"id":"test"}]}},{"guaranteeList":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Switch
        Guarantee, Vulnerability Commitment","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"contactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Telephone:
        0808 164 1088\nEmail: hello@octopus.energy\nWebsite: octopus.energy","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"otherContactInfo":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Web
        Chat: No\nRing backs: No\nMobile hotline: No\nMinicom / Text: No","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"document"}},"billingInfo":{"json":{"nodeType":"document","data":{},"content":[{"nodeType":"paragraph","data":{},"content":[{"nodeType":"text","value":"Direct
        debit: No,\nCash or cheque: Yes,\nPrepayment: Yes,","marks":[],"data":{}}]}]}},"fuelMix":{"json":{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Fossil
        fuel: 0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Nuclear:
        0%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Renewable:
        100%","nodeType":"text"}],"nodeType":"paragraph"}],"nodeType":"list-item"},{"data":{},"content":[{"data":{},"content":[{"data":{},"marks":[],"value":"Other:
        0%[...]
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__QuarterDates($content_id: String!, $preview:
        Boolean = false) {\n  contentPatternStringCollection(where: {sys: {id: $content_id}},
        preview: $preview) {\n    items {\n      contentPatternStringName\n      body\n      sys
        {\n        id\n      }\n    }\n  }\n}","operationName":"Queries__QuarterDates","variables":{"content_id":"230w36VUwaerIjibJYFoSG","top_three_ranks":[901,902,903],"tag_filter":{"id_contains_some":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Graphql-Query-Cost:
      - '100'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      Etag:
      - '"12248572643063396073"'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      Contentful-Upstream:
      - graph-api
      X-Contentful-Request-Id:
      - 93a6bd99-90b3-4e2d-8d9d-827a07d74c42
    body:
      encoding: UTF-8
      string: '{"data":{"contentPatternStringCollection":{"items":[{"sys":{"id":"230w36VUwaerIjibJYFoSG"},"contentPatternStringName":"Energy
        CSR next quarter release date","body":"June 2024"}]}}}'
  recorded_at: Thu, 30 May 2024 16:53:06 GMT
[...]
