.unranked-supplier__details.cads-prose
  .unranked-supplier__title{ "data-testid": "unranked-supplier-details-#{supplier.name.parameterize}" }
    = title

  = render DescriptionListComponent.new do |c|
    - c.with_title do
      %h3
        = supplier_name
    - c.with_descriptions(descriptions)
