.stars-summary
  .cads-prose
  %ul.stars-summary__list{ role: "list" }
    %li.stars-summary__item
      %p.stars-summary__text
        Overall rating
      = render ScoreComponent.new(score: supplier.overall_rating, show_decimal_score: true)
    %li.stars-summary__item
      %p.stars-summary__text
        Contact waiting time
      = render ScoreComponent.new(score: supplier.contact_rating)
    %li.stars-summary__item
      %p.stars-summary__text
        Customer commitments
      = render ScoreComponent.new(score: supplier.guarantee_rating)