.descriptions
  - if title?
    .descriptions__title
      = title
  %dl.descriptions__list
    - descriptions.each do |description|
      %dt.descriptions__term
        = description.term
      %dd.descriptions__intro
        = description.intro
      %dd.descriptions__description
        = description.description
