.cads-grid-row
  .cads-grid-col-md-9
    .other-scores
      %h2 Other scores
      .other-scores__descriptions
        = render DescriptionListComponent.new do |c|
          - c.with_descriptions(descriptions)
