%tr
  %td
    %span.cads-table__content
      Rank
  %td
    %span.cads-table__content
      Supplier
  %td
    %span.cads-table__content
      Fewer complaints
  %td
    %span.cads-table__content
      Response times
  %td
    %span.cads-table__content
      Bill accuracy
  %td
    %span.cads-table__content
      Overall rating
