%svg.star.star--empty{ width: "18", height: "16", viewBox: "0 0 18 17", fill: "none", xmlns: "http://www.w3.org/2000/svg", "aria-hidden": "true" }
  %path{ d: "M9 1.61804L10.5451 6.37336L10.6574 6.71885H11.0206H16.0207L11.9755 9.6578L11.6817 9.87132L11.7939 10.2168L13.339 14.9721L9.29389 12.0332L9 11.8197L8.70611 12.0332L4.66099 14.9721L6.20609 10.2168L6.31834 9.87132L6.02445 9.6578L1.97933 6.71885H6.97937H7.34265L7.4549 6.37336L9 1.61804Z" }
