%svg{ width: "17", height: "15", viewBox: "0 0 17 15", fill: "none", xmlns: "http://www.w3.org/2000/svg" }
  %path{ d: "M8.40002 0L10.1961 5.52786H16.0085L11.3062 8.94427L13.1023 14.4721L8.40002 11.0557L3.69774 14.4721L5.49385 8.94427L0.791572 5.52786H6.60391L8.40002 0Z", fill: "url(#paint0_linear_658_12679)" }
  %defs
    %linearGradient{ id: "paint0_linear_658_12679", x1: "8.15002", y1: "7.00012", x2: "8.65002", y2: "7.00012", gradientUnits: "userSpaceOnUse" }
      %stop{ offset: "0.507812", "stop-color": "#FFD250" }
      %stop{ offset: "0.515625", "stop-color": "white" }
  


