-# Expose dataLayer properties for google tag manager
  We output these on the page even when no tag manager container ID is present
  to avoid masking issues in development. Values are only sent if tag manager is
  actually loaded on the page.

%script{ id: "script-data-layer", nonce: content_security_policy_nonce }
  window.dataLayer = window.dataLayer || [];
  - if data_layer_properties.present?
    dataLayer.push(#{data_layer_properties.to_json.html_safe})

%script{ id: "script-google-tag-manager", nonce: content_security_policy_nonce }
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;var n=d.querySelector('[nonce]');
  n&&j.setAttribute('nonce',n.nonce||n.getAttribute('nonce'));f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T5MB575');
