---
layout: page
title: Suppliers
---

<h2>suppliers by rank</h2>
<a href="/suppliers/by-name">sort by name</a>
<ul>
  <% collections.suppliers.resources.select{|s| s.data.ranked }.sort {|a, b| a.data.rank.to_i - b.data.rank.to_i }.each do |supplier| %> 
    <li>
      <%= link_to supplier.data.name, "/suppliers/#{supplier.data.slug}" %>
    </li>
  <% end %>
</ul>

<h2>Whitelabelled suppliers</h2>
<ul>
  <% collections.suppliers.resources.select{|s| s.data.whitelabelled }.each do |supplier| %>
    <li>
      <%= link_to supplier.data.name, "/suppliers/#{supplier.data.slug}" %>
    </li>
  <% end %>
</ul>