.supplier-table {
  margin: $cads-spacing-6 0 $cads-spacing-3 0;

  @include cads-media-breakpoint-up(md) {
    margin: $cads-spacing-6 0;
  }

  .supplier-table__head {
    display: table-header-group;
  }
}

.cads-table tr:first-child th,
.cads-table tr td {
  padding-left: $cads-spacing-3;
}

.supplier-table--show-more {
  padding-bottom: 75px;

  @include cads-media-breakpoint-up(md) {
    padding-bottom: 0;
  }

  .js-show-more-suppliers {
    display: block;
    position: absolute;

    @include cads-media-breakpoint-up(md) {
      display: none;
    }
  }

  .js-show-fewer-suppliers {
    display: none;

    @include cads-media-breakpoint-up(md) {
      display: none;
    }
  }
}

.supplier-table--show-fewer {
  .js-show-more-suppliers {
    display: none;

    @include cads-media-breakpoint-up(md) {
      display: none;
    }
  }

  .js-show-fewer-suppliers {
    position: absolute;
    
    @include cads-media-breakpoint-up(md) {
      display: none;
    }
  }
}

.supplier-table__count-text {
  margin: $cads-spacing-3 0;

  @include cads-media-breakpoint-up(md) {
    display: none;
  }
}

.supplier-detail-page,
.no-js {
  .supplier-table__count-text,
  .js-show-more-suppliers,
  .js-show-fewer-suppliers {
    display: none;
  }

  .supplier-table {
    margin: $cads-spacing-6 0;
  }
}
