.supplier-table__row {
  td {
    display: table-cell;
    vertical-align: top;
    line-height: $cads-spacing-5;

    @include cads-media-breakpoint-up(md) {
      vertical-align: middle;
    }
  }

  .supplier-table__guarantee,
  .supplier-table__response,
  .supplier-table__complaints {
      display: table-cell;
  }

  .supplier-table__name {
    max-width: 100px;

    @include cads-media-breakpoint-up(md) {
      max-width: none;
    }
  }

  .supplier-table__rank {
    text-align: center;
    font-weight: bold;
  }
}

.supplier-table__row--highlight {
  background-color: #e7f3f5;
}

.supplier-table__row--top-border {
  td {
    border-top: $cads-border-width-large solid $cads-palette__heritage-blue;
  }
}

.supplier-table__row--hidden {
  display: none;

  @include cads-media-breakpoint-up(md) {
    display: table-row;
  }
}
