.supplier-table__row {
  td {
    display: table-cell;
    vertical-align: top;
    line-height: $cads-spacing-5;
  }

  .supplier-table__bill,
  .supplier-table__response,
  .supplier-table__complaints {
    display: none;
  }

  .supplier-table__name {
    max-width: 100px;
  }
}
