.supplier-table {
  .supplier-table__head {
    display: table-header-group;

    .supplier-table__bill,
    .supplier-table__response,
    .supplier-table__complaints {
      display: none;
    }
  }

  .stars {
    display: none;
  }
}

.cads-table tr:first-child th,
.cads-table tr td {
  padding-left: $cads-spacing-3;
}
