.supplier-table {
  margin: $cads-spacing-6 0 $cads-spacing-3 0;
  width: 768px;

  @include cads-media-breakpoint-up(md) {
    margin: $cads-spacing-6 0;
    width: auto;
  }

  .supplier-table__head {
    display: table-header-group;

    .supplier-table__guarantee,
    .supplier-table__response,
    .supplier-table__complaints {
        display: table-cell;
    }
  }
}

.cads-table tr:first-child th,
.cads-table tr td {
  padding-left: $cads-spacing-3;
}

.cads-table tr:first-child th:nth-of-type(3),
.cads-table tr:first-child th:nth-of-type(2) {
  width: 125px;

  @include cads-media-breakpoint-up(md) {
    width: auto;
  }

}

.supplier-table--show-more {
  .js-show-more-suppliers {
    display: block;

    @include cads-media-breakpoint-up(md) {
      display: none;
    }
  }

  .js-show-fewer-suppliers {
    display: none;

    @include cads-media-breakpoint-up(md) {
      display: none;
    }
  }
}

.supplier-table--show-fewer {
  .js-show-more-suppliers {
    display: none;

    @include cads-media-breakpoint-up(md) {
      display: none;
    }
  }

  .js-show-fewer-suppliers {
    @include cads-media-breakpoint-up(md) {
      display: none;
    }
  }
}

.supplier-table__count-text {
  margin: $cads-spacing-3 0;

  @include cads-media-breakpoint-up(md) {
    display: none;
  }
}

.supplier-detail-page,
.no-js {
  .supplier-table__count-text,
  .js-show-more-suppliers,
  .js-show-fewer-suppliers {
    display: none;
  }

  .supplier-table {
    margin: $cads-spacing-6 0;
  }
}
