.unranked-suppliers__form {
  margin-bottom: $cads-spacing-4;

  .cads-form-field {
    margin-bottom: $cads-spacing-4;
  }
}

.unranked-supplier__title {
  @extend %cads-h4;
}

.unranked-supplier__details {
  margin-bottom: $cads-spacing-7;

  .descriptions {
    border: solid $cads-border-width-small $cads-language__input-border-colour;
    border-radius: $cads-border-radius-large;

    @include cads-media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  .descriptions__list {
    margin: 0;

    @include cads-media-breakpoint-up(md) {
      display: inline-grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
    }
  }

  .descriptions__description {
    margin-left: 0;
    padding: 0 $cads-spacing-2;
    font-weight: $cads-font-weight__regular;
    border-bottom: solid $cads-border-width-small
      $cads-language__input-border-colour;

    &:last-of-type {
      border-bottom: none;
    }

    @include cads-media-breakpoint-up(md) {
      padding-top: $cads-spacing-4;
    }
  }

  .descriptions__term {
    padding: $cads-spacing-2 $cads-spacing-2 0 $cads-spacing-2;

    @include cads-media-breakpoint-up(md) {
      padding: $cads-spacing-4 $cads-spacing-3;
      border-bottom: solid $cads-border-width-small
        $cads-language__input-border-colour;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .descriptions__title h3 {
    @extend %cads-h4;

    margin-bottom: $cads-spacing-2;
    text-align: left;
    padding: $cads-spacing-2;
    border-bottom: solid $cads-border-width-large $cads-language__brand-primary;

    @include cads-media-breakpoint-up(md) {
      padding-left: $cads-spacing-3;
    }
  }

  .stars-summary__list {
    list-style: none;
    padding: 0;
  }

  .stars-summary__item {
    margin-bottom: $cads-spacing-6;

    .stars {
      margin-bottom: 0;
      display: inline-block;
      font-size: $cads-spacing-4;
      line-height: $cads-spacing-4;

      @include cads-media-breakpoint-up(md) {
        margin-top: $cads-spacing-3;
      }
    }

    .stars--highlight {
      @include cads-media-breakpoint-up(md) {
        margin-top: $cads-spacing-2;
      }
    }

    @include cads-media-breakpoint-up(md) {
      display: inline-block;
      margin-right: $cads-spacing-7;
      vertical-align: top;
    }
  }

  .stars-summary__text {
    @extend %cads-paragraph;

    margin-bottom: $cads-spacing-3;
  }
}
