---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Appliances($tag_filter: ContentfulMetadataTagsFilter)
        {\n  applianceCollection(where: {contentfulMetadata: {tags: $tag_filter}})
        {\n    items {\n      name\n      category\n      wattage\n      usageType\n      additionalUsage\n      sys
        {\n        id\n      }\n      contentfulMetadata {\n        tags {\n          id\n        }\n      }\n    }\n  }\n}","operationName":"Queries__Appliances","variables":{"top_three_ranks":[1,2,3],"tag_filter":{"id_contains_none":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '12647463580795884834'
      X-Contentful-Graphql-Query-Cost:
      - '200'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      Contentful-Upstream:
      - graph-api
      X-Contentful-Request-Id:
      - 8b1c0331-8f01-4f0d-b3bc-490416b83cc5
    body:
      encoding: UTF-8
      string: '{"data":{"applianceCollection":{"items":[{"sys":{"id":"5h5O5LSdtDAOPklaUmApU6"},"name":"Broadband
        router","category":"Home electronics","wattage":10,"usageType":"Time","additionalUsage":null,"contentfulMetadata":{"tags":[]}},{"sys":{"id":"2ESy0qxVyMcibw7rswEMP6"},"name":"Light
        bulb - Halogen (800 lumens)","category":"Lighting","wattage":42,"usageType":"Time","additionalUsage":null,"contentfulMetadata":{"tags":[]}},{"sys":{"id":"2gtg0ZNtihWQimzgapyhTQ"},"name":"Light
        bulb - CFL (800 lumens)","category":"Lighting","wattage":14,"usageType":"Time","additionalUsage":null,"contentfulMetadata":{"tags":[]}},{"sys":{"id":"1Xw32zsoKpEunb3GLiwMSJ"},"name":"Electric
        car charger (wallbox)","category"[...]
