---
http_interactions:
- request:
    method: post
    uri: https://graphql.contentful.com/content/v1/spaces/<CONTENTFUL_SPACE_ID>/environments/master
    body:
      encoding: UTF-8
      string: '{"query":"query Queries__Appliances($tag_filter: ContentfulMetadataTagsFilter)
        {\n  applianceCollection(where: {contentfulMetadata: {tags: $tag_filter}})
        {\n    items {\n      name\n      category\n      wattage\n      usageType\n      additionalUsage\n      sys
        {\n        id\n      }\n      contentfulMetadata {\n        tags {\n          id\n        }\n      }\n    }\n  }\n}","operationName":"Queries__Appliances","variables":{"top_three_ranks":[901,902,903],"tag_filter":{"id_contains_some":"test"}},"context":{}}'
    headers:
      Authorization:
      - Bearer <CONTENTFUL_CDA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '16593133958591300119'
      X-Contentful-Graphql-Query-Cost:
      - '200'
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId"
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - gql
      Contentful-Upstream:
      - graph-api
      X-Contentful-Request-Id:
      - fc178b89-0253-489e-a19d-07519673b729
    body:
      encoding: UTF-8
      string: '{"data":{"applianceCollection":{"items":[{"sys":{"id":"6EfvCwk0NdBevmtktMqDkx"},"name":"TEST
        - Tumble Dryer (condenser), partial load","category":"Large appliances","wattage":1834,"usageType":"Cycles","additionalUsage":null,"contentfulMetadata":{"tags":[{"id":"test"}]}},{"sys":{"id":"5FYWv9ZbTiYsTDfHKWtWnx"},"name":"TEST
        - Broadband router","category":"Home electronics","wattage":10,"usageType":"Time","additionalUsage":null,"contentfulMetadata":{"tags":[{"id":"test"}]}},{"sys":{"id":"1JpSHKsFdotffkNfCwQV0b"},"name":"TEST
        - Light bulb - Halogen (800 lumens)","category":"Lighting","wattage":42,"usageType":"Time","additionalUsage":null,"contentfulMetadata":{"tags":[{"id":"test"}]}},{"sys":{"id":"2v4Tp3ojzr64FJs6lRvG4t"},"name":"TE[...]
