%main.cads-page-content
  %h1.cads-page-title
    Compare energy suppliers' customer service

  = render(LocationSwitcherComponent.new(current_country:))

  .cads-prose
    %p
      Before you switch, it's a good idea to check how well different energy suppliers deal with customer service.
    %p
      We’ve compared suppliers across 3 different categories and ranked how good their customer service is. We’ve scored each supplier out of 5.
      %a{href: "https://www.citizensadvice.org.uk/consumer/energy/energy-supply/get-a-better-energy-deal/compare-domestic-energy-suppliers-customer-service/how-the-scores-are-worked-out/"}Find out how the scores are worked out.
    %p
      There are a few other things you should think about before switching, like exit fees and different types of tariff.
    %p
      Check what you need to know before you switch energy supplier.
    %p
      Find out about the different types of energy tariff.

    %h2
      Scores for April to June 2023
    %p
      The ratings are updated every 3 months. These scores are based on data we got from suppliers in September 2023.
    %p
      If you can't find your supplier in the table, we might not have enough data to give them an overall score. You can find these suppliers at the bottom of the page.


  = render SupplierTableComponent.new(ranked_suppliers)

  .cads-prose
    %h2
      If you can't find a supplier's customer service rating.
    %p
      We only give an overall customer service rating to suppliers with over 25,000 customer accounts.
    %p
      Select the supplier you want to check using the dropdown to see any customer service data we have.

  = render ImpactSurveyComponent.new(impact_survey_id: "J8PLH2H")